{% extends "base.html" %}
{% block content %}
    <h2>{{name}}, спасибо за Ваш заказ!</h2>
    <h4>Мы свяжемся с Вами по номеру {{phone}} в ближайшее время</h4>
    {% if delivery == 'delivery' %}
        <h4>как только отправим Ваш заказ по адресу {{address}}</h4>
    {% else %}
        <h4>как только мы подготовим Ваш заказ, чтобы Вы смогли забрать его</h4>
    {% endif %}
    <h2>Ваш заказ:</h2>
    <ol>
        {% for item in items %}
            <li>{{item[0]}}, {{item[1]}} штук</li>
        {% endfor %}
    </ol>
    <p>Итого: {{summa}}тг</p>
{% endblock %}